# Trabajo Práctico 2

Los datos fueron recopilados después de realizar pruebas en varias propiedades de Airbnb en París y Lisboa. En este conjunto experimental, se realizaron múltiples registros que detallan las características de cada propiedad. Los elementos del dataset incluyen el tamaño del grupo de barrios, el tipo de habitación, el precio, la cantidad mínima de noches, el número de reseñas y otros factores como la latitud, longitud y disponibilidad anual, ofreciendo así una visión completa de la oferta de alojamientos en ambas ciudades.

## Bibliotecas usadas

In [23]:
import pandas as pd
import numpy as np
from scipy import stats

## Dataset

In [24]:
lisbon = pd.read_csv('./data2/listings.csv', encoding="utf-8")
lisbon.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6499,Belém 1 Bedroom Historical Apartment,14455,Bruno,Lisboa,Belm,38.69750,-9.19768,Entire home/apt,84.0,4,76,2024-08-20,0.62,1,252,15,NaN
1,25659,Heart of Alfama - Le cœur d'Alfama (3 people),107347,Ellie,Lisboa,Santa Maria Maior,38.71241,-9.12706,Entire home/apt,96.0,2,213,2024-09-13,1.68,1,270,19,56539/AL.
2,29396,Alfama Hill - Boutique apartment,126415,Mónica,Lisboa,Santa Maria Maior,38.71156,-9.12987,Entire home/apt,78.0,2,401,2024-09-06,2.67,1,295,22,28737/AL
3,29720,TheHOUSE - Your luxury home,128075,Francisco,Lisboa,Estrela,38.71108,-9.15979,Entire home/apt,1032.0,2,133,2024-09-01,0.80,1,263,24,55695/AL
4,29915,Modern and Spacious Apartment in Lisboa,128890,Sara,Lisboa,Avenidas Novas,38.74571,-9.15264,Entire home/apt,100.0,6,61,2024-05-20,0.35,1,92,5,85851/AL.

In [25]:
paris = pd.read_csv('./data2/listings_paris.csv', encoding="utf-8", na_values=["", "NA"])
paris.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,371299,Marais Rue des Archives refait à neuf février ...,1870265,Thomas,NaN,Hôtel-de-Ville,48.85751,2.35511,Entire home/apt,185.0,3,601,2024-09-06,3.97,3,307,54,7510300547558
1,371862,loft in Paris (Belleville),1872631,Veronique,NaN,Entrepôt,48.87151,2.37219,Entire home/apt,250.0,4,50,2023-08-14,0.34,1,9,0,7511000320406
2,372879,Appartement complet au centre de Paris.,1876396,Samuel,NaN,Gobelins,48.83593,2.35108,Entire home/apt,85.0,30,171,2024-08-15,2.01,3,151,1,"Available with a mobility lease only (""bail mo..."
3,375434,"Luxurious Art & Design Flat, 180m2, Champs Ely...",683140,Oscar,NaN,Élysée,48.86680,2.30972,Entire home/apt,NaN,3,22,2023-07-15,0.15,1,0,0,7510806561916
4,378897,Little flat near Montmartre,1902818,Lorraine,NaN,Opéra,48.88285,2.33462,Entire home/apt,110.0,3,28,2024-07-30,0.19,1,6,2,7511805895013

## Data

El tamaño del conjunto de datos (líneas, columnas):

In [26]:
lisbon.shape

(24204, 18)

In [27]:
paris.shape

(95461, 18)

In [28]:
lisbon.info

<bound method DataFrame.info of                         id                                               name  \
0                     6499               Belém 1 Bedroom Historical Apartment
1                    25659      Heart of Alfama - Le cœur d'Alfama (3 people)
2                    29396                   Alfama Hill - Boutique apartment
3                    29720                        TheHOUSE - Your luxury home
4                    29915            Modern and Spacious Apartment in Lisboa
...                    ...                                                ...
24199  1243403799584587485                           Urban Tram @ Lively Bica
24200  1243421531996967673  New! Lisbon Designer's Hideaway Studio - Central!
24201  1243488183394801906                                   Apartamento luxo
24202  1243509538559076353                         Beach Studio 2- Hidden Gem
24203  1243552535635447045                    Beautiful T1 + Terrace. Estrela

         host_id   host_name  neighbourhood_group  \
0          14455       Bruno               Lisboa
1         107347       Ellie               Lisboa
2         126415      Mónica               Lisboa
3         128075   Francisco               Lisboa
4         128890        Sara               Lisboa
...          ...         ...                  ...
24199   76223539      BnBird               Lisboa
24200    1320531      Rachel               Lisboa
24201  559577767       Magda  Vila Franca De Xira
24202  458564790  Hidden Gem              Cascais
24203    3249520      Sylvie               Lisboa

                            neighbourhood   latitude  longitude  \
0                                    Belm  38.697500  -9.197680
1                       Santa Maria Maior  38.712410  -9.127060
2                       Santa Maria Maior  38.711560  -9.129870
3                                 Estrela  38.711080  -9.159790
4                          Avenidas Novas  38.745710  -9.152640
...                                   ...        ...        ...
24199                         Misericrdia  38.710366  -9.146229
24200                          So Vicente  38.718720  -9.129847
24201  Pvoa de Santa Iria e Forte da Casa  38.858709  -9.063884
24202                   Cascais e Estoril  38.701190  -9.386440
24203                    Campo de Ourique  38.719451  -9.160830

             room_type   price  minimum_nights  number_of_reviews last_review  \
0      Entire home/apt    84.0               4                 76  2024-08-20
1      Entire home/apt    96.0               2                213  2024-09-13
2      Entire home/apt    78.0               2                401  2024-09-06
3      Entire home/apt  1032.0               2                133  2024-09-01
4      Entire home/apt   100.0               6                 61  2024-05-20
...                ...     ...             ...                ...         ...
24199  Entire home/apt    60.0               3                  0         NaN
24200  Entire home/apt   104.0               1                  0         NaN
24201  Entire home/apt   136.0               1                  0         NaN
24202  Entire home/apt   174.0               1                  0         NaN
24203  Entire home/apt   109.0               3                  0         NaN

       reviews_per_month  calculated_host_listings_count  availability_365  \
0                   0.62                               1               252
1                   1.68                               1               270
2                   2.67                               1               295
3                   0.80                               1               263
4                   0.35                               1                92
...                  ...                             ...               ...
24199                NaN                             161               338
24200                NaN                               3               352
24201                NaN                               1               365
24202                NaN                               5               130
24203                NaN                               1               355

       number_of_reviews_ltm    license
0                         15        NaN
1                         19  56539/AL.
2                         22   28737/AL
3                         24   55695/AL
4                          5  85851/AL.
...                      ...        ...
24199                      0   71075/AL
24200                      0     Exempt
24201                      0       2525
24202                      0  144248/AL
24203                      0     Exempt

[24204 rows x 18 columns]>

In [29]:
paris.info

<bound method DataFrame.info of                         id                                               name  \
0                   371299  Marais Rue des Archives refait à neuf février ...
1                   371862                         loft in Paris (Belleville)
2                   372879            Appartement complet au centre de Paris.
3                   375434  Luxurious Art & Design Flat, 180m2, Champs Ely...
4                   378897                        Little flat near Montmartre
...                    ...                                                ...
95456  1236945861924172997   Modern Studio with Balcony near the Eiffel Tower
95457  1236952968287757354            Terrasse et lumière aux buttes chaumont
95458  1236977896535977947     Appartement Batignolles plein de charme 17 eme
95459  1236994124224110652                   ID 439-Tour Eifel/Avenue Bosquet
95460  1236998244796562295                       Grande chambre avec dressing

         host_id         host_name  neighbourhood_group        neighbourhood  \
0        1870265            Thomas                  NaN       Hôtel-de-Ville
1        1872631         Veronique                  NaN             Entrepôt
2        1876396            Samuel                  NaN             Gobelins
3         683140             Oscar                  NaN               Élysée
4        1902818          Lorraine                  NaN                Opéra
...          ...               ...                  ...                  ...
95456  474172515             Bella                  NaN            Vaugirard
95457  563248085  The Konciergerie                  NaN      Buttes-Chaumont
95458  555218540            Arnaud                  NaN  Batignolles-Monceau
95459   24495283           Giacomo                  NaN       Palais-Bourbon
95460  519135431           Marlene                  NaN                Passy

        latitude  longitude        room_type  price  minimum_nights  \
0      48.857510   2.355110  Entire home/apt  185.0               3
1      48.871510   2.372190  Entire home/apt  250.0               4
2      48.835930   2.351080  Entire home/apt   85.0              30
3      48.866800   2.309720  Entire home/apt    NaN               3
4      48.882850   2.334620  Entire home/apt  110.0               3
...          ...        ...              ...    ...             ...
95456  48.849833   2.291548  Entire home/apt  120.0               2
95457  48.886414   2.385571  Entire home/apt   96.0               2
95458  48.892020   2.323444  Entire home/apt  110.0               4
95459  48.857622   2.303587  Entire home/apt  100.0              30
95460  48.873074   2.284492     Private room  115.0               1

       number_of_reviews last_review  reviews_per_month  \
0                    601  2024-09-06               3.97
1                     50  2023-08-14               0.34
2                    171  2024-08-15               2.01
3                     22  2023-07-15               0.15
4                     28  2024-07-30               0.19
...                  ...         ...                ...
95456                  0         NaN                NaN
95457                  0         NaN                NaN
95458                  0         NaN                NaN
95459                  0         NaN                NaN
95460                  0         NaN                NaN

       calculated_host_listings_count  availability_365  \
0                                   3               307
1                                   1                 9
2                                   3               151
3                                   1                 0
4                                   1                 6
...                               ...               ...
95456                               5               149
95457                              20               329
95458                               1               362
95459                             121               334
95460                               2               365

       number_of_reviews_ltm  \
0                         54
1                          0
2                          1
3                          0
4                          2
...                      ...
95456                      0
95457                      0
95458                      0
95459                      0
95460                      0

                                                 license
0                                          7510300547558
1                                          7511000320406
2      Available with a mobility lease only ("bail mo...
3                                          7510806561916
4                                          7511805895013
...                                                  ...
95456                                      7511510537421
95457                                      7511911419828
95458                                      7511714121432
95459  Available with a mobility lease only ("bail mo...
95460                                                NaN

[95461 rows x 18 columns]>

In [30]:
lisbon.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,2.420400e+04,2.420400e+04,24204.000000,24204.000000,21233.000000,24204.000000,24204.000000,21152.000000,24204.000000,24204.000000,24204.000000
mean,4.446289e+17,1.978968e+08,38.763353,-9.209222,158.851882,4.642745,63.915262,1.587125,23.234672,204.130061,14.618080
std,4.934461e+17,1.926492e+08,0.113671,0.113419,345.216929,16.722226,99.920256,1.549896,55.904764,126.824132,19.369523
min,6.499000e+03,1.445500e+04,38.676140,-9.488100,10.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,2.360976e+07,2.411663e+07,38.711090,-9.300699,78.000000,1.000000,3.000000,0.420000,1.000000,84.000000,1.000000
50%,5.134184e+07,1.290004e+08,38.719539,-9.147980,113.000000,2.000000,21.000000,1.120000,5.000000,241.000000,6.000000
75%,9.399401e+17,3.828117e+08,38.749108,-9.134990,169.000000,3.000000,80.000000,2.330000,15.000000,323.000000,23.000000
max,1.244918e+18,6.514951e+08,39.304029,-8.812240,20000.000000,1000.000000,1627.000000,34.130000,295.000000,365.000000,414.000000

In [31]:
paris.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,9.546100e+04,9.546100e+04,0.0,95461.000000,95461.000000,64230.000000,95461.000000,95461.000000,68319.000000,95461.000000,95461.000000,95461.000000
mean,6.041960e+17,1.806282e+08,NaN,48.864093,2.342988,256.023276,40.242560,20.947298,1.091909,23.986874,127.049518,5.606824
std,5.032865e+17,1.984922e+08,NaN,0.018357,0.034513,522.272191,106.171396,53.281657,1.323468,92.655267,130.788323,11.618886
min,3.109000e+03,2.626000e+03,NaN,48.816090,2.227178,8.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,3.303612e+07,1.969689e+07,NaN,48.850464,2.320638,103.000000,2.000000,0.000000,0.230000,1.000000,0.000000,0.000000
50%,8.165232e+17,7.247858e+07,NaN,48.865411,2.346695,155.000000,3.000000,4.000000,0.670000,1.000000,84.000000,1.000000
75%,1.083288e+18,3.389546e+08,NaN,48.879181,2.368660,256.000000,5.000000,19.000000,1.480000,2.000000,254.000000,6.000000
max,1.239137e+18,5.995743e+08,NaN,48.901670,2.468360,30400.000000,1000.000000,3295.000000,41.880000,781.000000,365.000000,785.000000

Explicación breve de cada columna en español:

- **id -** Identificador único de la propiedad en Airbnb.
- **name -** Nombre de la propiedad.
- **host_id -** Identificador único del anfitrión.
- **host_name -** Nombre del anfitrión.
- **neighbourhood_group -** Grupo de barrios o área principal de la ciudad donde se encuentra la propiedad.
- **neighbourhood -** Barrio específico donde está ubicada la propiedad.
- **latitude -** Latitud de la ubicación de la propiedad (coordenada geográfica).
- **longitude -** Longitud de la ubicación de la propiedad (coordenada geográfica).
- **room_type -** Tipo de habitación ofrecida (entera, compartida, etc.).
- **price -** Precio por noche de la propiedad en la moneda local.
- **minimum_nights -** Número mínimo de noches que se puede reservar la propiedad.
- **number_of_reviews -** Total de reseñas que la propiedad ha recibido.
- **last_review -** Fecha de la última reseña recibida.
- **reviews_per_month -** Promedio de reseñas por mes.
- **calculated_host_listings_count -** Cantidad de propiedades que el anfitrión tiene listadas en Airbnb.
- **availability_365 -** Días de disponibilidad de la propiedad durante el año.
- **number_of_reviews_ltm -** Número de reseñas en los últimos 12 meses.
- **license -** Número de licencia de la propiedad (si aplica).

## Preprocesamiento

In [32]:
duplicates = lisbon.duplicated(keep=False)
lisbon.drop_duplicates(keep=False, inplace=True)

if duplicates.any():
    print("Duplicate rows:")
    print(lisbon[duplicates])
else:
    print("There are no duplicate rows in Lisbon dataset.")

There are no duplicate rows in Lisbon dataset.

In [33]:
duplicates = paris.duplicated(keep=False)
paris.drop_duplicates(keep=False, inplace=True)

if duplicates.any():
    print("Duplicate rows:")
    print(paris[duplicates])
else:
    print("There are no duplicate rows in Paris dataset.")

There are no duplicate rows in Paris dataset.

In [34]:
skewness = lisbon.skew(numeric_only = True)

skewed_columns = skewness[(skewness > 1) | (skewness < -1)]
if len(skewed_columns) == 0:
    print("There are no skewed columns in the dataset.")
else:
    print("Skewed columns:")
    print(skewed_columns)
    
    for col in skewed_columns.index:
        lisbon[col] = np.log1p(lisbon[col])
    
    print("Logarithmic transformation applied to skewed columns.")

Skewed columns:
latitude                           2.839441
longitude                         -1.034695
price                             26.752413
minimum_nights                    23.163940
number_of_reviews                  2.824462
reviews_per_month                  2.495658
calculated_host_listings_count     3.708340
number_of_reviews_ltm              2.427639
dtype: float64
Logarithmic transformation applied to skewed columns.

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [35]:
skewness = paris.skew(numeric_only = True)

skewed_columns = skewness[(skewness > 1) | (skewness < -1)]
if len(skewed_columns) == 0:
    print("There are no skewed columns in the dataset.")
else:
    print("Skewed columns:")
    print(skewed_columns)
    
    for col in skewed_columns.index:
        paris[col] = np.log1p(paris[col])
    
    print("Logarithmic transformation applied to skewed columns.")

Skewed columns:
price                             17.249443
minimum_nights                     2.731779
number_of_reviews                 11.204462
reviews_per_month                  4.226482
calculated_host_listings_count     6.071932
number_of_reviews_ltm              7.683332
dtype: float64
Logarithmic transformation applied to skewed columns.

In [36]:
columns_to_check = [
    'price', 
    'minimum_nights', 
    'number_of_reviews', 
    'reviews_per_month', 
    'calculated_host_listings_count', 
    'availability_365', 
    'number_of_reviews_ltm'
]

def remove_outliers(df, columns):
    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df

lisbon = remove_outliers(lisbon, columns_to_check)

paris = remove_outliers(paris, columns_to_check)

In [37]:
lisbon.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                         17758
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                             844
dtype: int64

In [38]:
paris.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group               34855
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                            3689
dtype: int64